.profile {
    min-width: 320px;
    width: 100%;
    max-width: 1280px;
    padding: 70px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.profile__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0 0 80px 0;
}

.profile__form {
    width: 100%;
    max-width: 410px;
    margin: 0 0 16px 0;
}

.profile__label, .profile__input {
    font-size: 11px;
    line-height: 13px;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
}

.profile__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 0 16px 0;
}

.profile__error-message {
    position: absolute;
    bottom: -29px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: red;
}

.profile__wrapper:last-of-type {
    margin: 0 0 100% 0;
}

.profile__label {
    width: 50%;
    margin: 0 10px 0 0;
    text-align: left;
    font-weight: 500;
}

.profile__input {
    width: 50%;
    margin: 0;
    text-align: right;
}

.profile__input:active, .profile__input:focus {
    outline: none;
    caret-color: #6d38e8;
}

.profile__line {
    margin: 0 0 16px 0;
}

.profile__button {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile__button:disabled {
    cursor: none;
    pointer-events: none;
    color: gray;
}

.profile__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    justify-self: flex-end;
    text-align: center;
    margin: 0 0 16px 0;
    text-decoration: none;
}

.profile__link:last-child {
    margin: 0;
    color: #5934EE;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .profile__link, .profile__button {
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .profile {
        padding: 75px 70px 70px;
    }
}
