.movies__container {
    min-width: 320px;
    width: 100%;
    max-width: 1280px;
    padding: 40px 10px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.movies__card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .movies__card-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px 30px;
    }

}
