.movies__container {
    min-width: 320px;
    width: 100%;
    max-width: 1280px;
    padding: 40px 10px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.movies__card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.movies__more-button {
    margin: 50px auto 0;
    width: 240px;
    height: 36px;
    outline: 1px solid #EDEDED;
    border: 0;
    background-color: #FFFFFF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

.movies__more-button:hover {
    background-color: rgba(169, 156, 246, 0.5);
    color: #FFFFFF;
    transition: background-color 0.6s, color 0.3s;
}

.movies__more-button:active {
    background-color: #897cd7;
}

@media screen and (min-width: 600px) {
    .movies__card-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px 30px;
    }

}
