.card {
    list-style-type: none;
    margin: 0 0 40px 0;
    position: relative;
    z-index: 20;
}

.card:last-child {
    margin: 0;
}

.card__image {
    width: 100%;
    margin: 0 0 16px 0;
    border-radius: 10px;
}

.card__save-button {
    border: 0;
    background-color: #F9F9F9;
    width: 72px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    padding: 6px 7px;
    box-sizing: border-box;
}

.card__save-button:hover {
    cursor: pointer;
    background-color: #A99CF6;
    color: #F2F2F2;
    transition: background-color 0.4s, color 0.5s ease;
}

.card__saved-icon {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(89, 52, 238, 1);
    background-image: url('../../../images/icon_save_white.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.card__remove-button {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    border-radius: 50%;
    background-color: #F9F9F9;
    background-image: url('../../../images/delete-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.card__remove-button:hover {
    cursor: pointer;
    background-color: #A99CF6;
    color: #F2F2F2;
    transition: background-color 0.4s, color 0.5s ease;
}

.card__remove-button:active {
    background-color: rgba(89, 52, 238, 1);
}

.card__capture {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.card__timing {
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    color: #A0A0A0;
    background-color: rgba(160, 160, 160, 0.1);
    padding: 3px 4px;
    border-radius: 3px;
}

.card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .card {
        margin: 0;
    }

    .card__capture {
        font-size: 13px;
        line-height: 16px;
    }
}
